.App-header {
    display: flex;
    float: left;
    width: 100%;
    font-size: calc(10px + 2vmin);
    border-bottom: 5px solid red;
  }

  .App-header h1{
    padding: 100px;
    color: red;

  }
