#logo {
    width: 200px;
    height: 200px;
    background-image: url('../assets/holberton-logo.jpg');
    background-size: 200px 200px;
    background-repeat: no-repeat;
}

h1 {
    font-size: 24px;
    color: #333;
    text-align: center;
}
